apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "envars-webhook.name" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "envars-webhook.labels" . | nindent 4 }}
data:
  config.yml: |
    verboseLogs: {{ .Values.webhook.verboseLogs | default "false" }}
    {{- with .Values.webhook.containersAllowed }}
    containersAllowed:
      {{- toYaml . | nindent 6 }}
    {{- end }}
