apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "envars-webhook.name" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "envars-webhook.labels" . | nindent 4 }}
data:
  config.yml: |
    verboseLogs: {{ .Values.webhook.verboseLogs | default "false" }}
    containersAllowed:
      compactor: false
      ingester: true
      prober: true
      store-gateway: true
